
.team {
  background-color: antiquewhite;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  height: 10rem;
  width: 10rem;
  text-align: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
