/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #c5a9ec;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Verdana, Sans-serif, serif;
}

app-home, app-players, app-stats, app-team {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 1rem;
  text-align: center;
}

nav {
  display: flex;
  text-decoration: none;

  > a {
    text-decoration: none;
    padding: 1rem;

    opacity: 0.8;

    &:hover {
      opacity: 1;
      cursor: pointer;
      font-style: oblique;
    }
  }
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}

footer {
  background-color: rebeccapurple;
  text-align: center;
  color: white;
  padding: 1rem;
}

teams {
  display: flex;
  flex-wrap: wrap;
}

.player {
  width: 100px;
  height: 100px;
  background-color: beige;
  margin: 1rem;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  opacity: 0.9;

  &:hover {
    background-color: cadetblue;
    cursor: pointer;
    opacity: 1;
  }
}


about {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1
}
